<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {%block title%} Nipracademy {% endblock %}
    
      </title>
      <link rel="icon" href="{% static 'image\2.jpg' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'common.css'%}">
    {% block css %} 
    {% endblock %}
     <title>Nipracademy</title>
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'image\2.jpg' %}" width="30" height="24">
        </a>
        <a class="navbar-brand" >Nipracademy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_superuser %}
              <li class="nav-item ">
                <a class="nav-link active" href="{% url 'admin:index' %}">Admin</span></a>
              </li>
            {%endif%}

            {% if request.user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link active" href="/my-courses">My Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/signup">Signup</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'details' %}">Contact Us</a>
           </li>
          </ul>
        </div>
      </div>
    </nav> 
    <br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 " role="alert">
      <strong>{{ message }} </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    
      <br>
      <div class="container">
        {%block content%}
        {%endblock%}
      </div>
    <footer class="page-footer" style="background-color:#000000;">
      <div class="container">
        <div class="row mt-4">
                  <div class="col-md-4 mt-4">
                            <h3><font color="white">About Us</font></h3> <br>
                            <p><font color="white">Being an entrepreneur, we have always been driven by the desire to make a positive impact in the lives of others.
                              One of the most pressing issues we have discovered is the lack of affordable and quality education.
                              Witnessing the struggles these students faced in their journey towards acquiring a good education from a young age,
                              we became determined to find a solution.Thus, we decided to establish a startup that would be solely dedicated to 
                              providing educational opportunities for students in need. Our mission is simple yet profound: to make learning accessible
                              and affordable for all.
                            </font> </p>
                  </div>
                  <div class="col-md-4 mt-4">
                            <h3><font color="white">Other Useful Stuff</font></h3><br>
                            <ul>
                              <a class="btn btn-secondary" href="https://www.facebook.com/nipracademy?mibextid=kFxxJD" role="button">Facebook</a><br>
                              <br><a class="btn btn-secondary" href="https://www.linkedin.com/in/nipracademy?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" role="button">Linkedin</a><br>
                              <br><a class="btn btn-secondary" href="https://www.instagram.com/nipracademy?igsh=MXVjZ2U1aXdicjU0bg%3D%3D&utm_source=qr" role="button">Instagram</a><br>
                              <br><a class="btn btn-secondary" href="https://www.youtube.com/channel/UC2lzj3CyuduOglHFRCvlTWw/videos?view=0&sort=dd&shelf_id=0" role="button">Youtube</a><br>
                              
                            </ul>
                  </div>
                  <div class="col-md-4 mt-4">
                            <h3><font color="white">Contact Us</font></h3>
                            <ul><font color="white">
                              <li>Address: offline Branch will going to open in August – September in year 23-24
                                Deo, Aurangabad , Bihar-824216</li>
                              <li>nipracademy@gmail.com</li>
                              <li>contact number : 9955272576</li>
                              </font></ul>
                  </div>
        </div>
        <div class="footer-copyright text-center py-3"><font color="white">
            <p>© 2024 Copyright : NIPRACADEMY - ALL RIGHTS RESERVED.<br>
            By using this site, you agree to our <i><a href="{% url 'terms-and-conditions' %}">Terms and Conditions,</a></i><i><a href="{% url 'privacy-policy' %}"> & privacy policy</a></i><br></p></font>
</footer>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>  
{% block js %}
{% endblock %}
  
  </body>
</html>